<style>
	.list-group-item { padding: 0px 10px !important; }
	.list-group a:hover { background-color: #337ab7 !important; color: white; }
</style>

<ul id="HelpMenuSystem" class="nav nav-tabs">
	<li role="presentation" class="active"><a href="#" data-item="1" onclick="ClickHelpItem(this)">Manuales</a></li>
	<li role="presentation"><a href="#" data-item="2" onclick="ClickHelpItem(this)">Capacitaciones</a></li>
	<li role="presentation"><a href="#" data-item="3" onclick="ClickHelpItem(this)">Planillas y Formularios</a></li>
	<li role="presentation"><a href="#" data-item="4" onclick="ClickHelpItem(this)">Flujos de la información</a></li>
</ul>
<div id="HelpMenuSystemItem">
	<div data-item="1" class="itmesmenuhelp jumbotron active">
		<h1>OPERA</h1>
		<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
		<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
		
		<div class="list-group">
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-primary"> <i class="fa fa-file-word-o"></i></span>
				Vestibulum at eros
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-success"> <i class="fa fa-file-excel-o"></i></span>
				Cras justo odio
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-danger"> <i class="fa fa-file-pdf-o"></i></span> 
				Dapibus ac facilisis in
			</a>
		</div>
	</div>
	<div data-item="2" class="itmesmenuhelp jumbotron">
		<div class="list-group">
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-primary"> <i class="fa fa-file-word-o"></i></span>
				Vestibulum at eros
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-success"> <i class="fa fa-file-excel-o"></i></span>
				Cras justo odio
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-danger"> <i class="fa fa-file-pdf-o"></i></span>
				Dapibus ac facilisis in
			</a>
		</div>
	</div>
	<div data-item="3" class="itmesmenuhelp jumbotron">
		<div class="list-group">
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-primary"> <i class="fa fa-file-word-o"></i></span>
				Vestibulum at eros
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-success"> <i class="fa fa-file-excel-o"></i></span>
				Cras justo odio
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-danger"> <i class="fa fa-file-pdf-o"></i></span>
				Dapibus ac facilisis in
			</a>
		</div>
	</div>
	<div data-item="4" class="itmesmenuhelp jumbotron">
		<div class="list-group">
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-primary"> <i class="fa fa-file-word-o"></i></span>
				Vestibulum at eros
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-success"> <i class="fa fa-file-excel-o"></i></span>
				Cras justo odio
			</a>
			<a href="#" class="list-group-item" target="_blank">
				<span class="label label-danger"> <i class="fa fa-file-pdf-o"></i></span>
				Dapibus ac facilisis in
			</a>
		</div>
	</div>
</div>


@section scripts {
	<script type="text/javascript">
	</script>
}
